ul, li , p{
    margin:0px;
    padding:0px;
}
.brand img{
    max-width: 100%;
}
#header nav{
    padding:0px;
}
#header nav ul li.nav-item{
    padding-left:15px;
    padding-right: 15px;;
}
#header nav ul li a{
    font-family: Muli, sans-serif;
    color:black;
    padding: 15px 0px;
}
#header nav ul li a.active{
    color:#F9AE00;
    border-bottom:2px solid #F9AE00;
}
#header nav ul li a:hover{
    color:#F9AE00;
    border-bottom:2px solid #F9AE00;
}
.register{
    padding:10px;
}
main{
    min-height: 200px;
    background:#dfdfdf;
}
#info-footer{
    padding-top:30px;
    padding-bottom:30px;

    border-top:1px solid #dfdfdf;
}
footer .widget .widget-content li{
    list-style-type:none;
}
footer .widget .widget-content li a{
    text-decoration: none;
    color:#000;
}
footer .widget-title{
    color: #F9AE00;
    font-size: 18px;
}
#copyright{
        padding: 10px 15px;
        background-color: #1c1d31;
        text-align: center;
        font-size: 13px;
        line-height: 18px;
        color: #fff;
    
}
.slider{
    background-image:url(images/head-left-bg.png) ;
    background-repeat: no-repeat;
    min-height: 500px;

}
.sdider-title {
    background-color: #fff;
    padding:20px;
    margin-top: 300px;
    margin-bottom:50px;
}
.sdider-title .title{
    font-size: 3em;
}
.sdider-title .description{
    font-size: 16px;
}
.form-register{
    background-color:#fff;
    padding:20px;
    margin-top:30px;
    border-radius: 15px;
    box-shadow: 3px 2px 6px #333;
}
.about-img img{
    width:100%;
}

#home-box{
    background:white;
}
#home-box i{
    color:red;
}
.box-lotrinh{
    padding-top: 30px;
}
.top-box-lotrinh span {
    position: absolute;
    /* left: 0; */
    /* top: 0; */
    display: flex;
    background: red;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 999;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.top-box-lotrinh:hover {
    transform: scale(1.05);
}
#category-header{
    background:url(images/new-banner-list-courses.png) no-repeat;

}
#category-header .title{
    color:white;
}
.category-top{
    padding:30px 0px;
}
.category-top input, .category-top button{
    background-color: #fff;
    border:0px;
    padding:10px;
}
.category-top input{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.category-top button{
    margin-left: -5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;;
}
.category-top button:hover{
    background-color:darkcyan;
    color:#fff;
}
.course {
    background: #fff;
    /* padding: 15px; */
    border-radius: 15px;
}
.course-img img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.course-content {
    padding: 15px;
    border-top-right-radius: 30px;
    margin-top: -30px;
    z-index: 9;
    background: #fff;
    position: relative;
}
.course-content .title{
    font-size: 20px;
}
.course-content .rate{
    color: yellow;
}
.course-content .course-status span{
    background:rgb(153, 153, 11);
    border-radius: 20px;
    padding:5px;
    color:white;
}